body {
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  text-align: center;
  color: orange;
  background-color: blue;
  font-weight: 800;
  font-size: 60px;
  padding: 24px;
  margin: 24px 25%;
}

.imgcontainer {
  display: block;
  height: 100%;
  text-align: center;
}
.img {
  width: 50%;
  height: auto;
  margin: 0 auto;
}
.card {
  text-align: center;
  margin: 0 25%;
  padding: 8px 0px;
  border: 4px;
  border-color: blue;
}
.list {
  color: yellow;
  background-color: violet;
  font-weight: 400;
  font-size: 20px;
  padding: 24px 24px;
  text-align: left;
}
